<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="UserIdeaContext" connectionString="Server = LAPTOP-Q0EAJ4ES\\SQLEXPRESS; 
												 Database = FlowingIdeas; 
												Integrated security = true; 
												Encrypt = false;"
			 providerName ="System.Data.SqlClient"/>
</configuration>